.head-holder {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
}
//Minimum background image width 1440px;
.head1 {
    background: image_url("sunrise.jpg") no-repeat;
    opacity: 1;

}

.head2 {
    background: image_url("wake1cleansmall.jpg");

    display: none;
}

.dark {
    color: black;
}

.light {
    color: white;
}

.headline {
    padding-top: 0px;
    height: 100%;
    //display: inline-block;
    vertical-align: middle;
    //background: image_url("summitPorkies.jpg");
}

.headline-title {
    text-align: center;
    font-size: 50px;
}

.headline-info {
    font-style: italic;
    text-align: center;
}