// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
    margin: 0px;
    font-family: 'Nunito',Arial,Helvetica,sans-serif;
}

.make-space {
    padding: 0 5px 0 5px;
}

header {
    &.fixed {
        position: fixed;
    }
    &.relative{
        position: relative;
    }

    &.absolute{
        position: absolute;
    }

    left: 0px;
    top: 0px;
    right: 0px;
    height: 50px;
    z-index: 1000;
    padding: 14px 0 5px 0;
    //background: rgba(255,255,255,.78);

    &.map {
        background: transparent;
    }

    #mobile-menu {
        position: fixed;
        display: none;
        //display: flex;
        height: 50px;
        bottom: 0;
        right: 0;
        left: 0;
        flex-direction: row;
        background-color: rgb(64, 126, 177);
        z-index: 1001;
        text-align: center;

        a {
            padding-top: 8px;
            padding-bottom: 8px;
            text-decoration: none;
            font-size: 16px;
            flex-grow: 1;
        }
    }

    .mobile-menu-icon {
        cursor: pointer;
    }

    .container {
        display: flex;
        position: relative;
        max-width: 1140px;
        
        box-sizing: border-box;
        
        .mobile-menu-icon {
            flex-grow: 1;
            text-align: right;
        }

        

        .logo {
            flex-grow: 1;
            text-align: center;
        }

        .desk-menu {
            display: none;
        }

        nav {
            &.desk-menu {
                display: none;
            }

            flex-grow: 3;

            ul {
                list-style: none;
                padding: 0px;
                margin: 0px;

                &.desk-top {
                    display: none;
                }
                li {
                    display: inline;

                    a {
                        text-decoration: none;
                        font-size: 19px;
                        text-transform: uppercase;
                        font-weight: 600;
                    }

                    &.menu-item {
                        margin: 0 10px;
                    }

                }
            }

            
        }

        #user {
            flex-grow: 1;
            text-align: right;
            a {
                text-decoration: none;
            }

        }
    
    }

    
}

#map {
}

.nav-bottom-below-white {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    padding-top: 66px;
    overflow: hidden;
    top: 100%;
}

.nav-bottom-below-white:before {
    position: absolute;
    opacity: .78;
    transform: translateX(-2%);
    background-image: image-url("nav_bottom_white.svg");
    background-position: center bottom;

    content: "";
    display: block;
    top: 0;
    left: -5%;
    width: 110%;
    height: 100%;
    //background: no-repeat center top;
    background-size: 2016px auto;

}

.nav-top-above-white {
    z-index: 1000;
    bottom: 0;

    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    padding-top: 66px;
    overflow: hidden;
    pointer-events: none;
}

.nav-top-above-white:before {
    position: absolute;
    opacity: 1;
    transform: translateX(-2%);
    background-image: image-url("nav_top_white.svg");
    //background-position: center bottom;
    pointer-events: none;
    content: "";
    display: block;
    top: 0;
    left: -5%;
    width: 110%;
    height: 100%;
    //background: no-repeat center top;
    background-size: 2016px auto;

}

.nav-top-above-white-explore {
    z-index: 1000;
    bottom: 0;

    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    padding-top: 66px;
    overflow: hidden;
}

.nav-top-above-white-explore:before {
    position: absolute;
    opacity: 1;
    transform: translateX(-2%);
    background-image: image-url("nav_top_white.svg");
    //background-position: center bottom;

    content: "";
    display: block;
    top: 0;
    left: -5%;
    width: 110%;
    height: 100%;
    //background: no-repeat center top;
    background-size: 2016px auto;

}

.push {
    padding-top: 66px;
}

.slider {
    img {
        width: 100%;
    }
    height: 450px;
    
    position: relative;

    overflow: hidden;
    z-index: 0;

    #map {
        height: 100%;
        width: 100%;
    }
}



#topic-boxes {
    margin-top: 20px;
    margin-bottom: 20px;
    
    .cat-link {
        text-decoration: none;;
    }

    .category {
        width: 100%;
        background-color: green;
        border-radius: 5px;
        margin-top: 10px;
        cursor: pointer;

        .cat-name {
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            text-decoration: none;
            color: white;
            &:visted {
                color: white;
            }
        }
    }

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        .box-image {
            width: 250px;
            height: 200px;
            background-color: white;
        }

        .box-info {
            // position: absolute;
            // bottom: 0px;
            // left: 0px;

            padding: 5px;
            color: black;
            font-size: 25px;
            opacity: 1;
            text-align: center;

        }
    }

}

#welcome {
    .title {
        font-size: 35px;
        padding-top: 10px;
        color: rgb(253, 125, 19);
        font-family: 'Permanent Marker', cursive;
        text-align: center;
    }

    .sub-title {
        font-style: italic;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .welcome-info {
        font-size: 18px;
    }
}

footer {
    height: 100px;
    width: 100%;
    background-color: orange;
    padding-bottom: 50px;
}

#bulk {
    z-index: 1000;
    margin-top: 0px;
    background-color: white;
}

@media only screen and (min-width: 768px) {

    #bulk {
        max-width: 1140px;
        flex-direction: row;
        margin-top: 20px;
        &.front {
            flex-direction: column;
        }
    }

    .make-space {
        margin: 0 auto;
    }

    header {
        &.fixed {
            position: fixed;
            left: 0px;
            top: 0px;
            right: 0px;
            height: 50px;
            z-index: 10000;
        }


        

        .container {
            display: flex;


            position: relative;
            max-width: 1140px;
            
            box-sizing: border-box;
            
            .logo {
                flex-grow: 2
            }

            nav {

                flex-grow: 3;

                ul {
                    list-style: none;
                    padding: 0px;
                    margin: 0px;

                    
                    li {
                        display: inline;

                        a {
                            text-decoration: none;
                            font-size: 19px;
                            text-transform: uppercase;
                            font-weight: 600;
                        }

                        &.menu-item {
                            margin: 0 10px;
                        }

                    }
                }

                
            }

            #user {
                flex-grow: 1;
                text-align: right;
                a {
                    text-decoration: none;
                }

            }
        
        }

        
    }

    .nav-bottom-below-white {
        position: absolute;
        left: 0;
        width: 100%;
        height: 0;
        padding-top: 66px;
        overflow: hidden;
        top: 100%;
    }

    .nav-bottom-below-white:before {
        position: absolute;
        opacity: .78;
        transform: translateX(-2%);
        background-image: image-url("nav_bottom_white.svg");
        background-position: center bottom;

        content: "";
        display: block;
        top: 0;
        left: -5%;
        width: 110%;
        height: 100%;
        //background: no-repeat center top;
        background-size: 2016px auto;

    }

    .nav-top-above-white {
        z-index: 1000;
        bottom: 0;

        position: absolute;
        left: 0;
        width: 100%;
        height: 0;
        padding-top: 66px;
        overflow: hidden;
    }

    .nav-top-above-white:before {
        position: absolute;
        opacity: 1;
        transform: translateX(-2%);
        background-image: image-url("nav_top_white.svg");
        //background-position: center bottom;

        content: "";
        display: block;
        top: 0;
        left: -5%;
        width: 110%;
        height: 100%;
        //background: no-repeat center top;
        background-size: 2016px auto;

    }

    .nav-top-above-white-explore {
        z-index: 1000;
        bottom: 0;

        position: absolute;
        left: 0;
        width: 100%;
        height: 0;
        padding-top: 66px;
        overflow: hidden;
    }

    .nav-top-above-white-explore:before {
        position: absolute;
        opacity: 1;
        transform: translateX(-2%);
        background-image: image-url("nav_top_white.svg");
        //background-position: center bottom;

        content: "";
        display: block;
        top: 0;
        left: -5%;
        width: 110%;
        height: 100%;
        //background: no-repeat center top;
        background-size: 2016px auto;

    }

    .slider {
        img {
            width: 100%;
        }
        position: relative;
        max-height: 560px;
        overflow: hidden;
        z-index: 0;
    }

    #topic-boxes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;
        margin-bottom: 20px;

        .box {
            position: relative;

            .box-image {
                width: 250px;
                height: 200px;
                background-color: white;
            }

            .box-info {
                position: absolute;
                bottom: 0px;
                left: 0px;

                padding: 5px;
                color: white;
                font-size: 25px;
                opacity: 0;

            }
        }

    }

    #welcome {
        .title {
            font-size: 55px;
            padding-top: 10px;
            color: rgb(253, 125, 19);
            font-family: 'Permanent Marker', cursive;
            text-aligh: left;
        }

        .sub-title {
            font-style: italic;
            font-size: 20px;
            margin-bottom: 10px;
        }

        .welcome-info {
            font-size: 18px;
        }
    }

    .feature {
        height: 300px;
        background-color: blue;
    }

    footer {
        height: 100px;
        width: 100%;
        background-color: orange;
    }

    .cat-name {
        padding: 10px;
    }
}
@media only screen and (max-width: 1440px) {

    .slider {
        img {
            width: 1440px;
        }
    }

    

}